{{define "about"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>OnionWatch.Email - About</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="row">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="classyNav">

                    <!-- Logo -->
		    <a class="nav-brand" href="/"><i class="fa fa-info-circle"></i></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb_area bg-img bg-overlay4 height-400" style="background-image: url(/img/core-img/hero.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section d-sm-flex align-items-center justify-content-between">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h3>About OnionWatch.Email</h3>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">About</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Details Area Start ***** -->
    <section class="blog_details_area section_padding_90_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Single Blog Post -->
                    <div class="singl-blog-post">
                        <div class="single-image">
                            <img src="img/bg-img/bg-2.jpg" alt="">
                        </div>

                        <!-- Single Blog Details Area -->
                        <div class="singl-blog-details">
				<h4>Will you be offering t-shirts?</h4>
				<p>Unfortunately this isn't quite a replacement for Tor Weather <em>(yet)</em> so whilst we'd love to offer t-shirts it's not something we can do right now.</p>
				<h4>How do I unsubscribe?</h4>
			        <p>Navigate to <a href="https://onionwatch.email/unsubscribe/">/unsubscribe/</a> and enter your email address. You will be sent an email with a series of links for each of the relays or hidden services you are monitoring.</p>
			        <p>Email addresses maintain a 1:1 relationship with a monitor so deleting a monitor will delete the associated email address. Once all monitors are deleted there will be no record of your email address.</p>
			        <p><a href="https://www.tarsnap.com">Backups</a> are purged within 7 days.</p>

				<h4>Why is this free?</h4>
				<p>Both Brass Horn Communications and Ablative Hosting needed a service to monitor relays, bridges and hidden services. The overheads between checking a few hundred and a few thousand is minimal so we've opened it up for everyone.</p>
				
				<h4>Is it open source?</h4>
				<p>Yes! Checkout the repository on <a href="https://gitlab.com/ablative-hosting/OnionWatch/">Gitlab</a>, it is <a href="https://opensource.org/licenses/BSD-2-Clause">licensed under the 2-clause BSD license.</a></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Details Area End ***** -->

    <!-- ***** Bottom Footer Area Start *****  -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_area d-md-flex justify-content-between">
                        <!-- Footer Text -->
                        <div class="copywrite_text">
                            <p>Made By <a href="https://ablative.hosting" target="_blank">Ablative.Hosting</a> | Powered By <a href="https://brasshorncommunications.uk">Brass Horn Communications</a></p>
                        </div>
                        <!-- Icon -->
                        <div class="footer_icon">
                            <a href="https://twitter.com/onionwatchemail"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Bottom Footer Area End *****  -->
 
</body>

</html>
{{end}}
