{{define "index"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Tomcat - One Page Parallax</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="tomcat-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="row">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="classyNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="#">Home</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home - One</a></li>
                                            <li><a href="index-2.html">Home - Two</a></li>
                                            <li><a href="index-3.html">Home - Three</a></li>
                                            <li><a href="index-flying-birds.html">Flying Bird Version</a></li>
                                            <li><a href="index-bubbles.html">Bubbles Version</a></li>
                                            <li><a href="index-particals.html">Particals Version</a></li>
                                            <li><a href="index-snow.html">Snow Version</a></li>
                                            <li><a href="index-strom.html">Strom Version</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index-headline.html">Animated Headline</a></li>
                                            <li><a href="index-text-rotator.html">Text Rotator Headline</a></li>
                                            <li><a href="index-subscribe-form.html">Subscribe Form</a></li>
                                            <li><a href="index-trail.html">Trail Version</a></li>
                                            <li><a href="index-dark.html">Dark Version</a></li>
                                            <li><a href="index-slider.html">Slideshows Version</a></li>
                                            <li><a href="index-bigtext-slider.html">Big Text Slider</a></li>
                                            <li><a href="index-local-video.html">Local Video</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index-local-video-dark.html">Local Video Dark</a></li>
                                            <li><a href="index-gradients.html">Gradients - One</a></li>
                                            <li><a href="index-gradients-2.html">Gradients - Two</a></li>
                                            <li><a href="index-header-video.html">Header Video</a></li>
                                            <li><a href="index-flat.html">Flat Version</a></li>
                                            <li><a href="index-fullwidth.html">Fullwidth Version</a></li>
                                            <li><a href="index-fullwidth-dark.html">Fullwidth Dark Version</a></li>
                                            <li><a href="index-parallax.html">Parallax Version</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index-parallax-fullwidth.html">Parallax Fullwidth</a></li>
                                            <li><a href="index-bg-fixed.html">Background Fixed</a></li>
                                            <li><a href="index-classic.html">Classic Version</a></li>
                                            <li><a href="index-square.html">Square Version</a></li>
                                            <li><a href="index-small-business.html">Small Business</a></li>
                                            <li><a href="index-vimeo-video.html">Vimeo Video</a></li>
                                            <li><a href="index-vimeo-video-small.html">Vimeo Video Small</a></li>
                                            <li><a href="index-youtube-video.html">Youtube Video</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="#">Blog</a>
                                            <ul class="dropdown">
                                                <li><a href="index-blog.html">Blog</a></li>
                                                <li><a href="index-blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Dropdown Item</a></li>
                                                <li><a href="#">Dropdown Item</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Even Dropdown</a></li>
                                                        <li><a href="#">Even Dropdown</a></li>
                                                        <li><a href="#">Even Dropdown</a></li>
                                                        <li><a href="#">Even Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dropdown Item</a></li>
                                                <li><a href="#">Dropdown Item</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#feature">Feature</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>

                            <!-- Button -->
                            <a href="#" class="classy-btn">Contact Now</a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Not Found Area Start ***** -->
    <section class="error_page text-center bg-overlay6 bg-img section_padding_390_400" style="background-image: url(img/bg-img/bg-7.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <!--  Not Found Text Start -->
                    <div class="not-found-text">
                        <h2>404!<i class="fa fa-map-signs"></i></h2>
                        <h3>Page not Found</h3>
                        <a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> GO HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Not Found Area End ***** -->

    <!-- ***** Bottom Footer Area Start *****  -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_area d-md-flex justify-content-between">
                        <!-- Footer Text -->
                        <div class="copywrite_text">
                            <p>Made With <i class="fa fa-heart"></i> by <a href="https://themeforest.net/user/designing-world/portfolio" target="_blank">designing-world</a></p>
                        </div>
                        <!-- Icon -->
                        <div class="footer_icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Bottom Footer Area End *****  -->
</body>

</html>
{{end}}
