{{define "index"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>OnionWatch.email - Tor Relay and Onion Service Monitoring</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="row">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="classyNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><i class="fa fa-envelope"></i></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About</a>
                            </ul>

                            <!-- Button -->
                            <a href="#monitor" class="classy-btn">Create a Monitor</a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="subscribe--area bg-img bg-overlay4" style="background-image: url(img/core-img/hero.jpg)" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Subscribe Content Text -->
                    <div class="subscribe--content">
                        <h2>Create a Monitor Now</h2>
                        <p>Add a Relay fingerprint, then your email address <em>(&amp; GPG key)</em>, verify your email and you're done! </p>
                    </div>

                    <!-- Form Start -->
                    <form action="/subscribe/relay/" method="post">
                        <input type="text" class="subscribe-email" name="fingerprint" placeholder="Enter a Tor Relay Fingerprint Hash">
			<input type="hidden" name="type" value="redirect"/>
                        <button type="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

   
    <!-- *****  Who We Are Start *****  -->
    <section class="who_we_are_area section_padding_90_100 clearfix" id="about">
        <div class="container">
            <div class="row">
                <!-- Heading Text -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>OnionWatch.email</h2>
                        <p>A simple way to monitor the uptime of a Tor relay or Onion Service.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <!-- Image -->
                    <div class="who_we_image">
                        <img src="img/core-img/1600.jpg" alt="">
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <!-- Content Text -->
                    <div class="who_we_contant_text">
                        <!--<h2>A Free Service From Ablative.Hosting &amp; Brass Horn Comms</h2>-->
			<p>At Ablative Hosting we offer <a href="https://ablative.hosting/single-hop-onion-hosting/">single-hop</a> and <a href="https://ablative.hosting/multi-hop-onion-hosting/">multi-hop</a> Tor Hidden Service webhosting whilst Brass Horn Communications runs <a href="https://metrics.torproject.org/rs.html#search/as:28715">UK Tor Exit Relays.</a></p>
			<p>We realised that there aren't many monitoring services available for Tor websites and Relays so we made our own. </p>
			<p>If your relay or Onion goes offline we'll send you an <em>(optionally GPG encrypted)</em> email to let you know.</p>
                        <a class="tomcat-btn" href="#monitor">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *****  Who We Are Area End *****  -->

    <!-- *****  Our Services Area Start *****  -->
    <section class="our_services_area section_padding_0_70 clearfix">
        <div class="container">
            <div class="row">
                <!-- Heading Text -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Key Facts</h2>
                        <p>For more detailed information visit the <a href="/about/">about</a> page. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content Text -->
                    <div class="service_single_content text-center mb-30 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
			    <h1><i class="fa fa-lock" aria-hidden="true"></i></h1>
                        </div>
                        <h5>Encryption Support</h5>
                        <p>You can choose to have all your notifications encrypted by adding your GPG public key.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content Text -->
                    <div class="service_single_content text-center mb-30 wow wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <h1><i class="fa fa-heart" aria-hidden="true"></i></h1>
                        </div>
                        <h5>Free For Everyone</h5>
                        <p>We needed something to help us monitor customer websites - the overheads are so low we're letting everyone make use of it.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content Text -->
                    <div class="service_single_content text-center mb-30 wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <h1><i class="fa fa-user-secret" aria-hidden="true"></i></h1>
                        </div>
                        <h5>Data Privacy</h5>
                        <p>We will never share your email address with any 3rd party.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content Text -->
                    <div class="service_single_content text-center mb-30 wow fadeInUp" data-wow-delay="0.8s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <h1><i class="fa fa-cloud" aria-hidden="true"></i></h1>
                        </div>
                        <h5>OpenSource</h5>
                        <p>OnionWatch is BSD licensed so feel free to poke around or contribute improvements.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content Text -->
                    <div class="service_single_content active text-center mb-30 wow fadeInUp" data-wow-delay="1s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <h1><i class="fa fa-trash" aria-hidden="true"></i></h1>
                        </div>
                        <h5>Deleted means deleted</h5>
                        <p>When you delete a monitor it gets deleted from the DB and ages out of the backups within 7 days.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Blank -->
                </div>
            </div>
        </div>
        <!-- Side Image -->
        <div class="side-image">
            <img src="img/bg-img/side-img-1.png" alt="">
        </div>
    </section>
    <!-- *****  Our Services Area End *****  -->

    <!-- *****  Call To Action Area Start *****  -->
    <section class="call_to_action_area bg-fixed section_padding_90_100 clearfix bg-overlay" style="background-image: url(img/core-img/hero.jpg)">
        <div class="container">
            <div class="row">
                <!-- Heading Text -->
                <div class="col-12">
                    <div class="call-to-action-heading">
                        <h2>Powered by Brass Horn Communications</h2>
                        <p>A non-profit ISP dedicated to fighting Internet Surveillance and Censorship.</p>
                        <a class="welcome-btn-white" href="https://brasshorncommunications.uk">Visit Website</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *****  Call To Action Are End *****  -->

    <!-- *****  Our Awesome Features Are Start *****  -->
    <section class="our_awsome_feature_area section_padding_90_70 clearfix" id="feature">
        <div class="container">
            <div class="row">
                <!-- Heading Text -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>How It Works</h2>
                        <p>OnionWatch.email relies on the <a href="https://metrics.torproject.org/onionoo.html">Onionoo interface</a> and a local Tor relay. </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">

                <div class="col-12 col-md-5 col-lg-4">
                    <!-- Image -->
                    <div class="awsome_feature_image">
                        <img src="img/core-img/tor.png" alt="">
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Content -->
                    <div class="feature_single_content wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature_icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="feature_text">
                            <h4>Local Database Query</h4>
                            <p>Every 5-30 minutes we fetch a list of relay fingerprints and .onion services to check</p>
                        </div>
                    </div>
                    <!-- Single Content -->
                    <div class="feature_single_content middle wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature_icon">
                            <i class="fa fa-angle-double-left"></i>
                        </div>
                        <div class="feature_text">
                            <h4>Query Onionoo</h4>
                            <p>We fetch the current <a href="https://metrics.torproject.org/onionoo.html#details">status</a> of the relay and check it against our local cache. </p>
                        </div>
                    </div>
                    <!-- Single Content -->
                    <div class="feature_single_content down wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature_icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="feature_text">
                            <h4>Send out Emails</h4>
                            <p>If the relay state differs from what we saw last time we send out <em>(GPG encrypted)</em> alerts to the subscribed emails.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Awesome Features Are End ***** -->


    <a name="monitor"/>
    <!-- ***** Contact Area End *****  -->
    <section class="contact_us_area" id="contact">
	
        <div class="container">
            <div class="row">
                <!-- Heading Text -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Create an OnionWatch Monitor</h2>
                        <p>Choose to monitor a Relay or a .onion, add your email address, an optional GPG key and click the create button. We'll send a verification email with a link to confirm.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact_area d-flex" style="background-image: url(img/core-img/hero.jpg)">

            <!-- Contact Form -->
            <div class="contact_from_area bg-img bg-overlay-3 section_padding_90_100 clearfix">
                <div class="contact_form">
                    <form action="/subscribe/" method="POST" id="main_contact_form">
                        <div class="contact_input_area">
                            <div id="success_fail_info"></div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="conatct_heading">
                                        <h2>Monitor a Relay</h2>
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fingerprint" id="fingerprint" placeholder="Relay Fingerprint" required>
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="gpg" class="form-control" id="gpg" cols="30" rows="10" placeholder="------ BEGIN PGP PUBLIC KEY ------"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" value="relay" name="type"/>
                                <!-- Button -->
                                <div class="col-12">
                                    <button type="submit" class="welcome-btn-white">Create Relay Monitor</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Contact Deatils -->
           <!-- <div class="contact_deatils">-->
           <div class="contact_from_area bg-img bg-overlay-3 section_padding_90_100 clearfix">
		<div class="contact_form">
                    <form action="/subscribe/" method="post" id="main_contact_form">
                        <div class="contact_input_area">
                            <div id="success_fail_info"></div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="conatct_heading">
                                        <h2>Monitor a .Onion Service</h2>
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="hiddenservice" id="hiddenservice" placeholder="E.g. container656ovix.onion" required>
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                                    </div>
                                </div>
                                <!-- Form Group -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="gpg" class="form-control" id="gpg" cols="30" rows="10" placeholder="------ BEGIN PGP PUBLIC KEY ------" required></textarea>
                                    </div>
                                </div>
                                <input type="hidden" value="hs" name="type"/>
                                <!-- Button -->
                                <div class="col-12">
                                    <button type="submit" class="welcome-btn-white">Create Onion Monitor</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Area End *****  -->

    <!-- ***** Bottom Footer Area Start *****  -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_area d-md-flex justify-content-between">
                        <!-- Footer Text -->
                        <div class="copywrite_text">
                            <p>Made By <a href="https://ablative.hosting" target="_blank">Ablative.Hosting</a> | Powered By <a href="https://brasshorncommunications.uk">Brass Horn Communications</a></p>
                        </div>
                        <!-- Icon -->
                        <div class="footer_icon">
                            <a href="https://twitter.com/onionwatchemail"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Bottom Footer Area End *****  -->
    


</body>

</html>
{{end}}
