{{define "subscribe"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>OnionWatch.Email - Monitor {{.NickName}}</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="row">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="classyNav">

                    <!-- Logo -->
		    <a class="nav-brand" href="/"><i class="fa fa-info-circle"></i></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb_area bg-img bg-overlay4 height-400" style="background-image: url(/img/core-img/hero.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section d-sm-flex align-items-center justify-content-between">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
				<h3>Monitor A Tor Relay</h3>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Relay</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

        <!-- ***** Contact Area End *****  -->
    <section class="contact_us_area" id="contact">
        <div class="contact_area d-flex">

            <!-- Contact Form -->
            <div class="contact_from_area bg-img bg-overlay-3 section_padding_90_100 clearfix" style="background-image: url(img/bg-img/bg-6.jpg)">
                <div class="contact_form">
			<form action="/subscribe/" method="POST" id="main_contact_form">
				<div class="contact_input_area">
				    <div class="row">
					<div class="col-12">
					    <div class="conatct_heading">
						    <h2>Monitor {{.NickName}}</h2>
					    </div>
					</div>
					<!-- Form Group -->
					<div class="col-12">
					    <div class="form-group">
						 <input readonly type="text" class="form-control" name="fingerprint" id="fingerprint" placeholder="Relay Fingerprint" value="{{.Fingerprint}}" required>
					    </div>
					</div>
					<!-- Form Group -->
					<div class="col-12">
					    <div class="form-group">
						<input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
					    </div>
					</div>
					<!-- Form Group -->
					<div class="col-12">
					    <div class="form-group">
						<textarea name="gpg" class="form-control" id="gpg" cols="30" rows="10" placeholder="------ BEGIN PGP PUBLIC KEY ------"></textarea>
					    </div>
					</div>
					<input type="hidden" value="relay" name="type"/>
					<!-- Button -->
					<div class="col-12">
					    <button type="submit" class="welcome-btn-white">Create Relay Monitor</button>
					</div>
				    </div>
				</div>
			    </form>
                </div>
            </div>
            <div class="contact_from_area bg-img bg-overlay-3 section_padding_90_100 clearfix">
			<div class="row">
				<div class="col-4">
					<p><i class="fa fa-server" title="OR Addresses"></i> {{.OrAddresses}}</p>
				</div>

				<div class="col-4">
					<p><i class="fa fa-download" title="Dir Address"></i> {{.DirAddress}}</p>
				</div>

				<div class="col-4">
					<p><i class="fa fa-check" title="Is Running?"></i> {{.Running}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><i class="fa fa-calendar" title="First Seen"></i> {{.FirstSeen}}</p>
				</div>

				<div class="col-4">
					<p><i class="fa fa-edit" title="Last Changed"></i> {{.LastChanged}}</p>
				</div>

				<div class="col-4">
					<p><i class="fa fa-hourglass-half" title="Last Seen"></i> {{.LastSeen}}</p>
				</div>
			</div>

			<!--<div class="row">
				<div class="col-12 welcome-text">
					<h1>{{.Flags}}</h1>
				</div>
			</div>-->
            </div>
        </div>
    </section>
    <!-- ***** Contact Area End *****  -->

    <!-- ***** Bottom Footer Area Start *****  -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_area d-md-flex justify-content-between">
                        <!-- Footer Text -->
                        <div class="copywrite_text">
                            <p>Made By <a href="https://ablative.hosting" target="_blank">Ablative.Hosting</a> | Powered By <a href="https://brasshorncommunications.uk">Brass Horn Communications</a></p>
                        </div>
                        <!-- Icon -->
                        <div class="footer_icon">
                            <a href="https://twitter.com/onionwatchemail"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Bottom Footer Area End *****  -->
 
</body>

</html>
{{end}}
