{{define "unsubscribe"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>OnionWatch.email - Unsubscribe</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="row">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="classyNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><i class="fa fa-envelope"></i></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About</a>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="subscribe--area bg-img bg-overlay4" style="background-image: url(/img/core-img/hero.jpg)" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Subscribe Content Text -->
                    <div class="subscribe--content">
                        <h2>Unsubscribe</h2>
			<p>We'll send an <em>(unencrypted!)</em> email containing links for all related monitors, follow the links to finish the unsubscribe process.</p>
                    </div>

                    <!-- Form Start -->
                    <form action="/unsubscribe/" method="post">
                        <input type="email" name="email" class="subscribe-email" placeholder="Enter your email address">
                        <button type="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Bottom Footer Area Start *****  -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_area d-md-flex justify-content-between">
                        <!-- Footer Text -->
                        <div class="copywrite_text">
                            <p>Made By <a href="https://ablative.hosting" target="_blank">Ablative.Hosting</a> | Powered By <a href="https://brasshorncommunications.uk">Brass Horn Communications</a></p>
                        </div>
                        <!-- Icon -->
                        <div class="footer_icon">
                            <a href="https://twitter.com/onionwatchemail"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Bottom Footer Area End *****  -->
    


</body>

</html>
{{end}}
{{define "success"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>OnionWatch Unsubscribe Successful!</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="row">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="classyNav">

                    <!-- Logo -->
		    <a class="nav-brand" href="/"><i class="fa fa-check-circle"></i></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Not Found Area Start ***** -->
    <section class="error_page text-center bg-overlay6 bg-img section_padding_390_400" style="background-image: url(/img/core-img/hero.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <!--  Not Found Text Start -->
                    <div class="not-found-text">
                        <h2>Email Sent! <i class="fa fa-check-circle"></i></h2>
			<h3>Follow the links in the email to finish the unsubscribe process.
			<br/>{{.Message}}</h3>
                        <a href="/"><i class="fa fa-home" aria-hidden="true"></i> GO HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Not Found Area End ***** -->

    <!-- ***** Bottom Footer Area Start *****  -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_area d-md-flex justify-content-between">
                        <!-- Footer Text -->
                        <div class="copywrite_text">
                            <p>Made By <a href="https://ablative.hosting" target="_blank">Ablative.Hosting</a> | Powered By <a href="https://brasshorncommunications.uk">Brass Horn Communications</a></p>
                        </div>
                        <!-- Icon -->
                        <div class="footer_icon">
                            <a href="https://twitter.com/onionwatch.email"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Bottom Footer Area End *****  -->
</body>

</html>
{{end}}
